.resultMessage{
    font-family:Bangers;
    font-size:1.6em;
    color:#222;
    background-color:#cccccc;
    padding: 20px 5px 20px 5px;
    /* line-height: 20px; */
    width:90%;
    box-sizing:border-box;
    margin: 0px auto;
    text-align: center;
    /* border-radius: 10px; */
}

    .resultMessage .grey{
        color:#444444;
    }

.successRateContainer{
    height:60px;
}

.firstResultMessagetBasic{
    margin-bottom:40px;
}

.secondResultMessagetBasic{
    margin-top:40px;
}

.resultTrainBasicContent{
    position:absolute;
    width:100%;
}