<div class="app">
    <div>
        <h2>BLE Heart Rate Demo</h2>
        <h1 id="beatsPerMinute">...</h1>
        <div id="statusDiv"></div>
    </div>
</div>
<br/>
<br/>
<br/>
<button title="PrintLines" ng-click="printLinesGot()">print Lines</button> <br/><br /><br />
<br/>
<button title="send data" ng-click="sendData()">Send 1byte</button><br/><br/>
<button title="send data" ng-click="sendData1()">Send 2byte</button><br/><br/>
<button title="send data" ng-click="sendData2()">Send 32bit</button><br/><br/>
<!--<div>
    service uuid
    <input id="service" ng-model="service" />
</div>
<div>
    charateristic uuid
    <input id="characteristic" ng-model="characteristic" />
</div>

<div ng-click="connect()">
    start scan
</div>-->