<div class="loginContainer">
    <div class="noAchivemntsMessage absoluteCenter" style="padding-top:50px;margin-top:0px;" ng-show="step == 2">
        Please check your email for instructions
    </div>
    <form ng-submit="sendEmail()">


        <div class="inputContainer" ng-hide="step == 2">
            <input type="text" placeholder="email" ng-model="email" />
        </div>
        <div class="buttonsContainer">
            <a class="navigation" ng-click="back()"> Back</a>
            <a class="navigation" ng-click="sendEmail()" ng-hide="step == 2">Reset Pass </a>
        </div>
        <button type="submit" value="submit" style="display:none"></button>
    </form>
</div>
