<div class="loginContainer">
    <form ng-submit="nextstep()">
        <div class="inputContainer" ng-show="step <= 0">
            <input type="text" placeholder="email" ng-model="email" />
            <input type="password" placeholder="{{passwordTxt}}" ng-model="password" />
            <input type="text" placeholder="{{dogNameTxt}}" class="inputFirst" ng-model="dogName" />

        </div>
        <div ng-show="step == 1">
            <p class="subTitle">{{almostDoneTxt}}</p>
            <img class="logo" src="res/logoBig444.png" />
        </div>
        <div class="buttonsContainer" ng-hide="step == 1">
            <a class="navigation" ng-click="prevStep()"> {{backTxt}}</a>
            <a class="navigation" ng-click="nextStep()">Register </a>
        </div>
        <button type="submit" style="display:none"></button>
    </form>
</div>
