<div>
    <div id="navBar">
        <a ng-click="navigateBack()">
            <div class="navBackArrowContainer">
                <img src="res/backArrowWhite.jpg" class="navBackArrow" />
            </div>
            <h1>{{title}}</h1>
        </a>
        <div class="searchContainer" ng-show="mainNavShowSearch">
            <img src="res/search.jpg" class="searchIcon" />
        </div>
        <!--<div class="menuContainer" >
            <img src="res/menu.jpg" />
        </div>-->
        <div class="calendarContainer" ng-show="mainNav_datePicker_show" ng-click="mainNav_datePicker_click()">
            <img src="res/calendarWhite.png" class="calendarIcon" />
        </div>
    </div>
    <div id="navBarSpaceFiller"></div>
</div>